<%= fields_for @ticket do |f| %>
  <%= f.fields_for :assets, child_index: number do |asset_fields| %>
    <p>
      <%= asset_fields.label :asset, "File ##{number += 1}" %>
      <%= asset_fields.file_field :asset %>
    </p>
  <% end %>
<% end %>